*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 2.3rem;
    color: rgb(2, 150, 255);
    border-bottom: 2px solid rgb(2, 150, 255);
}

.nav * {
    height: 100%;
}

.pms{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.pms span{
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 4rem;
    margin-right: 5rem;
}

.pms svg{
    height: fit-content;
}

.nav-title{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title span{
    font-size: 1.1rem;
    font-weight: 700;
    height: fit-content;
    margin-left: 5rem;
}

.nav-other{
    width: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.nav-other *{
    height: fit-content;
    color: rgb(2, 150, 255);
}