.inputBody{
    padding: 4px 8px;
    margin: 0 auto;
    border-radius: 7px;
    width: 16rem;
    border: 1px solid rgb(0, 162, 255);
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
}

.inputBody input{
    outline: transparent;
    background: transparent;
    border: none;
    color: black;
}

.inputBody input::placeholder{
    color: rgb(0, 162, 255);
}

.inputBody svg{
    color: gray;
    margin-right: 5px;
    font-size: large;
}
