.main{
    width: 100%;
    height: 94vh;
    background-color: rgb(234, 236, 238);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.top{
    height: 20%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: .7rem;
}

.dash-item{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    gap: .2rem;
}

.dash-icon{
    font-size: 2rem;
}

.dash-item-data{
    display: flex;
    flex-direction: column;
}

.light-data{
    font-size: 15px;
    color: gray;
}

.dark-data{
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom{
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    overflow: hidden;
}

.chart{
    width: 65%;
    border: 1px solid grey;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: .5rem;
    padding-top: .4rem;
    color: gray;
}

.tickets{
    width: 35%;
    border: 1px solid grey;
    color: gray;
    padding: .5rem;
    padding-right: 0;
    padding-top: .4rem;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

.bottom h2{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid grey;
    padding: 0;
    padding-bottom: .4rem;
    margin: 0;
}

.tickets h2{
    margin-right: .5rem;
}

.tickets ul{
    list-style-type: none;
    padding: 5px;
    padding-bottom: 1rem;
    width: 100%;
    overflow: scroll;
    height: 100%;
}

.tickets ul::-webkit-scrollbar{
    width: 6px;
}
.tickets ul::-webkit-scrollbar-track{
    background: transparent;
    border: 1px solid grey;
    border-radius: 10px;
}
.tickets ul::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: grey;
}

.tickets ul li{
    display: flex;
    border: 1px solid gray;
    border-radius: 7px;
    margin-bottom: .5rem;
    padding: .3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.light{
    font-size: 10px;
}

.dark{
    font-size: 11px;
    font-weight: 500;
    color: #000;
}

.circle{
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 100%;
}

.ticket-data{
    display: flex;
    flex-direction: column;
}

.graph{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph p{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}