.main {
    display: flex;
    flex-direction: row;
  }
  
  .main section {
    height: 100vh;
  }
  
  .left {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 168, 249);
    color: white;
  }
  
  .left h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  
  .left p {
    text-align: center;
  }

  .right {
    width: 70%;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 168, 249);
  }