.main{
    width: 100%;
    height: 94vh;
    background-color: rgb(234, 236, 238);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top{
    height: 20%;
}

.quick{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: .4rem;
}

.quick h2{
    margin: 0;
    padding: .2rem;
    padding-left: .5rem;
    border-bottom: 1px solid grey;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.acts{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: .5rem;
    align-items: center;
}

.acts a{
    width: 100%;
}

.act{
    width: 100%;
    color: rgb(4, 168, 249);
    background-color: white;
    border: 1.5px solid rgb(4, 168, 249);
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    padding: .2rem;
    cursor: pointer;
}

.bottom{
    height: 80%;
    overflow: hidden;
}

.settings{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
}

.title{
    width: 98%;
    height: 6.2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    font-weight: 500;
    gap: 2.5rem;
    padding-top: .3rem;
    padding-bottom: 0;
    margin: 0 auto;
}

.title *{
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.title .active{
    color: rgb(4, 168, 249);
    border-bottom: 2px solid rgb(4, 168, 249);
}

.overview{
    width: 100%;
    height: 93.8%;
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.overview *{
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.data{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}
.data-icon{
    height: 70%;
    width: fit-content;
}

.data div svg{
    font-size: 10rem;
    padding: 0;
    margin: 0;
    padding-left: 2rem;
}

.details{
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 2rem;
    font-weight: 500;
}

.name{
    font-size: 1.6rem;
}

.btns{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}

.btns button{
    display: flex;
    flex-direction: row;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: .3rem;
    color: white;
    cursor: pointer;
    border: none;
}

.btns button svg{
    width: fit-content;
}

.add{
    background-color: cornflowerblue;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.see{
    background-color: rgb(3, 167, 3);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.right{
    display: grid;
    height: 60%;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    grid-template-areas: 
    'one two two'
    'one three three';
}

.stand-data{
    grid-area: one;
}
.lay-data:nth-child(2){
    grid-area: two;
}
.lay-data:nth-child(3){
    grid-area: three;
}

.lay-data{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    gap: .5rem;
}

.data-icon{
    font-size: 3rem;
    height: fit-content;
}

.data-item-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light-data{
    font-size: 20px;
    color: gray;
}

.dark-data{
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dark-data *{
    width: fit-content;
}

.stand-data{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stand-data .data-item-data .dark-data{
    justify-content: center;
}
