.main {
  display: flex;
  flex-direction: row;
}

.main section {
  height: 100vh;
}

.left {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(4, 168, 249);
  color: white;
}

.left h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.left p {
  text-align: center;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(4, 168, 249);
}

.status {
    padding: 3px;
    border: 3px solid rgb(4, 168, 249);
    font-weight: 600;
    width: 13rem;
    border-radius: 30px;
    margin-bottom: 1rem;
    text-align: center;
}

.status svg{
    margin-left: .4rem;
    font-weight: 800;
    font-size: 1rem;
}

.right form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.right form button{
    margin: 0 auto;
}

.right a{
  margin-top: .5rem;
  border-radius: 30px;
}